 

.layout-grid {
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 0rem 1rem;
    width: 100%;
}

/* above 600px */
@media (min-width: 600px) {
    .layout-grid {
        flex-direction:row;
        padding: 0rem 2rem;
    }
}
